.contact
  background: url(../img/contact/bg.png) no-repeat 
  background-size: cover 
  height: 338px 
  & .contact-content
    display: flex 
    justify-content: center
    & .contact-hexagon
      position: relative
      width: 210px
      height: 121.24px
      background: #fc635e
      border-left: solid 10px #fe8682
      border-right: solid 10px #fe8682
      margin-top: calc(-121.24px/2)
      & .desc 
        z-index: 2
        position: absolute
        width: 100%
        text-align: center
        & h5 
          +pfe_med 
          font-size: 27px 
          color: #ffffff
          letter-spacing: -.14px 
          margin-bottom: 10px 
        & p 
          color: #ffffff
          letter-spacing: -.08px 
      &::before, &::after 
        content: ''
        position: absolute
        z-index: 1
        width: 148.49px
        height: 148.49px
        transform: scaleY(0.5774) rotate(-45deg)
        background: inherit
        left: 20.7538px
      &::before 
        top: -74.2462px
        border-top: solid 14.1421px #fe8682
        border-right: solid 14.1421px #fe8682
      &::after
        bottom: -74.2462px
        border-bottom: solid 14.1421px #fe8682
        border-left: solid 14.1421px #fe8682

